<template>
  <div class="center">
    <table>
      <tr>
        <td>
          <input v-model="form.firstName" required class="input-field" placeholder="First Name" />
        </td>
        <td>
          <input v-model="form.lastName" required class="input-field" placeholder="Last Name" />
        </td>
        <td>
          <input type="number" v-model="form.birthYear" required class="input-field" placeholder="Birth Year" />
        </td>
        <td>
          <button @click="createAuthor" class="button">Create</button>
          <button @click="cancel" class="button red">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</template>


<script>
export default {
  data() {
    return {
      form: {
        firstName: "",
        lastName: "",
        birthYear: null,
      },
    };
  },
  methods: {
    createAuthor() {
      this.$emit("createAuthor", this.form);
    },
    cancel() {
      this.$emit("cancel");
    },
  },
};
</script>


<style scoped>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 90%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #ccc;
  box-sizing: border-box;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.button.red {
  background-color: #ff0000;
}

.button + .button {
  margin-left: 5px;
}
</style>