<template>
  <div>
    <h1>Authors</h1>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birth Year</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="author in authors" :key="author.id">
          <td>{{ author.firstName }}</td>
          <td>{{ author.lastName }}</td>
          <td>{{ author.birthYear }}</td>
          <td>
            <button @click="deleteAuthor(author.id)" class="delete-button">
                X
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="create-author-form">
      <button @click="toggleForm" v-if="!isFormOpen" class="toggle-button">
        Create Author
      </button>
      <author-create-form
        v-if="isFormOpen"
        :author="newAuthor"
        @create-author="createAuthor"
        @cancel="cancelForm"
      />
    </div>
  </div>
</template>

<script>
import axios from "../api/axios";
import { ref, onMounted } from "vue";
import AuthorCreateForm from "@/components/AuthorCreateForm.vue";

export default {
  components: {
    AuthorCreateForm,
  },
  setup() {
    const authors = ref([]);
    const newAuthor = ref({
      firstName: "",
      lastName: "",
      birthYear: null,
    });
    const isFormOpen = ref(false);

    const loadAuthors = async () => {
      try {
        const response = await axios.get("/authors");
        authors.value = response.data;
      } catch (error) {
        console.error(error);
      }
    };

    const toggleForm = () => {
      isFormOpen.value = !isFormOpen.value;
    };

    const createAuthor = async (authorData) => {
      try {
        await axios.post("/authors", authorData);
        console.log("hello");
        resetForm();
        await loadAuthors();
      } catch (error) {
        console.error(error);
      }
    };
    const deleteAuthor = async (authorId) => {
      try {
        await axios.delete(`/authors/${authorId}`);
        await loadAuthors();
      } catch (error) {
        console.error(error);
      }
    };

    const cancelForm = () => {
      resetForm();
    };

    const resetForm = () => {
      newAuthor.value = {
        firstName: "",
        lastName: "",
        birthYear: null,
      };
      isFormOpen.value = false;
    };

    onMounted(() => {
      loadAuthors();
    });

    return {
      authors,
      newAuthor,
      isFormOpen,
      toggleForm,
      createAuthor,
      cancelForm,
      deleteAuthor
    };
  },
};
</script>

<style scoped>
.table {
  width: 90%;
  border-collapse: collapse;
  /* margin-top: 20px; */
  margin: 4em;
}

.table th {
  background-color: #f2f2f2;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.toggle-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: darkcyan;
  color: white;
  cursor: pointer;
}
.delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: darkred;
  font-weight: 900;
  color: white;
  cursor: pointer;
}
</style>
